@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Function Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/functionpro-book-webfont.woff2) format("woff2");
  }

  @font-face {
    font-family: "Function Pro";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/fonts/functionpro-medium-webfont.woff2) format("woff2");
  }

  body {
    @apply text-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply tracking-wider;
  }
}
